<%= button_to "Records Index", "/records", method: :get %>
<%= button_to "Variants Index", "/variants", method: :get %>

<h1><%= @record.album %> Variants</h1>

<% @variants.each do |variant| %>
  <p>Color: <%= variant.color %></p>
  <p>Copies: <%= variant.copies %></p>
  <% if variant.serialized == true %>
    <p>Serialized</p>
  <% end %> 
<% end %> 
<%= button_to "Create Variant", "/records/#{@record.id}/variants/new", method: :get %>
