
<%= button_to "Variants Index", "/variants", method: :get %>

<h1>Records</h1>

<%= button_to "New Record", "/records/new", method: :get %>

<% @records.each do |record| %>
  <h3><a href="/records/<%= record.id %>"><%= record.album %></a></h3>
  <p>Artist: <%= record.artist %></p>
  <p>Added: <%= record.created_at %></p>
<% end %>