
<%= button_to "Records Index", "/records", method: :get %>
<%= button_to "Variants Index", "/variants", method: :get %>
<h1><%= @record.album %></h1>
<p>Artist: <%= @record.artist %></p>
<p>Play Speed: <%= @record.play_speed %>rpm</p>
<% if @record.double_lp? %>
  <p>Format: 2xVinyl LP</p>
<% else %>
  <p>Format: Vinyl LP</p>
<% end %>
<%= button_to "Edit #{@record.album}", "/records/#{@record.id}/edit", method: :get %>
<p>Variants: <%= @record.count_variants %></p>