<%= button_to "Records Index", "/records", method: :get %>
<%= button_to "Variants Index", "/variants", method: :get %>

<h3>Edit Variant</h3>

<%= form_with url: "/variant/#{@variant.id}", method: :patch, data: {turbo:false} do |f| %>
<%= f.label :color %>
<%= f.text_field :color, value: @variant.color %><br>
<%= f.label :copies %>
<%= f.text_field :copies, value: @variant.copies %><br>
<%= f.label "Serialized" %>
<%= f.select :serialized, [true, false], selected: @variant.serialized %><br>

<%= f.submit "Update" %>
<% end %>