<%= button_to "Records Index", "/records", method: :get %>

<h1>Variants Index</h1>

<% @records.each do |record| %>
  <h3><%= record.album %></h3>
  <% @variants.each do |variant| %>
    <% if variant.record_id == record.id %>
      <p>Color: <a href="/variant/<%= variant.id %>"><%= variant.color %></a></p>
      <p>Copies: <%= variant.copies %></p>
      <p>Serialized: <%= variant.serialized %></p>
    <% end %>
  <% end %>
<% end %>